    <h1>{{{trailName}}}</h1>
    <div class="rating" data-rating="{{{rating}}}">
    </div>
    <div class="description">
        <p>
            <b>Trail Difficulty:</b> {{{difficulty}}}
            <br/>
            <b>Trail Length:</b> {{{length}}}
            <br/>
            <b>Trail Description:</b> {{{description}}}
            <br/>
            <b>Trailhead:</b> {{{trailhead}}}
        </p>
    </div>
